@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: "Android";
    src: url("fontes/idroid.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Android", sans-serif;

    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    margin: 0px;
    padding: 0px;

    font-family: var(--fonte-padrao);
}

body {
    background-color: var(--cor1);
    margin: 0px 10px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: white;
    text-shadow: #104227 0px 0px 5px;
    margin: 0px -10px;
    padding-top: 10px;
}

header > h1  {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}

header > p {
    font-size: 1.2em;
    padding-bottom: 25px;
    max-width: 580px;
}
  
nav {
    padding: 5px 5px 5px 5px;
    background-color: var(--cor5);
    margin-bottom: 10px;
    margin: 0px -10px 10px -10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.295);
}

nav > a {
    color: white;
    background-color: var(--cor5); 
    text-decoration: none; 
    font-weight: bold;
    padding: 3px 15px;
    margin: 0px 0px;
    transition-duration: 0.5s;
    border-radius: 10px; 
}

nav > a:hover {
     /*   text-decoration: underline;*/
    background-color: var(--cor3);
    color: white;
    }

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #063d1e46;
    border-radius: 10px;
 }

main h2 {
    font-family: var(--fonte-android);
    background-color: white;
    color:var(--cor5);
    padding: 10px 10px;
    text-shadow: #84e1ad 0px 0px 5px;
}

h3 {
    padding: 3px 3px;
    margin: 0px 10px;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right,var(--cor1), transparent);
    color:var(--cor5);
}

p {
    padding: 10px 10px;
    /* text-indent: 30px; */
    margin: auto;
    text-align: justify;
    /*line-height: 10em;
    este comando é a entrelinha */
}

a {
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
}

a:hover{
    color: var(--cor2);
    background-color: var(--cor5);
    padding: 1px 3px;
}

a.externo::after {
    content:"\00A0\1F517";
}

img {
    /* faz com que a imagem se adapte ao tamanho da tela */
    width: 100%;
    padding: 0px;
}

strong {
    color: var(--cor5);
    background-color: var(--cor1);padding: 2px 3px;
    border-radius: 3px;
}

.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

abbr {
    color: var(--cor4);
    text-decoration: solid;
}

abbr:hover {
    color: white;
    background-color: #1A5B37;
}

div.video {
    background-color: chocolate;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    /* macete para os videos */
    position: relative;
    padding-bottom: 59%;
}

div.video >iframe { /*para alterar o iframe da icorporacao*/
    position: absolute;
    /* quando position é absoluto, pode definir top e left, ou seja a posicao do canto superior */
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 15px 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.253);
}

aside > h4 {
    color: white;
    background-color: var(--cor4);
    padding: 15px 5px;
    margin: -15px -5px 0px -5px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    /* \00A0 é o espaço em branco
    os dois primeiros codigo peguei no EmojiPedia */
    list-style-type: "\2714\FE0F\00A0\00A0";
    list-style-position: inside;
    padding-left: 10px;
    columns: 2;
} 

footer >p {
    color: white;
    background-color: var(--cor5);
    text-align: center;
    margin: 10px -10px 0px -10px;
    font-size: small;
    font-style: italic;
}
