@charset "UTF-8";
 
 body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(163, 160, 121);
        color: rgb(99, 68, 2);
        font-size: 30px;
    }
h1 {
        
        font-size: 1.5em;
        background-color: rgb(173, 114, 3);
    }
h2 {
        
        font-size: 1.1em;
        background-color: rgb(235, 153, 2);
    }
p {
        color: black;
        text-align: justify;
    }