@charset "UTF-8";

* {
  
   margin: 0px;
   padding: 0px;
}


header {
    background-color: black;
    text-align: center;
    color: white;
    
    width: wv;
    
     }
     header h1 {
        background-color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10vw;
        padding: 10px 0px;
     }
     header p {
        background-color: black;
     }
     a {
        color: white;
        font-size: 1.5em;
        background-color: black;
        text-decoration: none;
        padding: 0px 5px;
     }
     a:hover {
        text-decoration: underline;
     }
     main {
        text-align: center;
        font-family: cursive;
        font-style: oblique;
        line-height: 6vw;
        font-size: 4vw;
       
        
     }
     div.branco >p{
        background-color: white;
        padding: 80px 30px;
        text-shadow: rgb(104, 98, 98) 1px 1px 0px;
     
     }
     div.imagem {
        padding: 80px 30px;
        text-align: center;
        background-position: right center; 
       
     }

     div.imagem >p{
        background-color: rgba(0, 0, 0, 0.151);
        padding-left: 5px;
        border: 1px none black;
        width: 55vw;
        color: white;
        text-shadow: black 3px 3px 5px;
         margin: auto;
     }

     div#flor {
        background-image: url(imagens/background001.jpg);
     }

     div#papel {
        background-image: url(imagens/background002.jpg);
     }
     footer {
        background-color: black;
        padding: 5px 0px;
     }

     footer p {
        background-color: black;
        color: white;
        text-align: center;
        
     }
