@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   height: auto;
    }

body {
 background-image: linear-gradient(to left,
         #cdb4dbff , 
        /* #ffc8ddff,
         #ffafccff,
         #bde0feff,*/
         #a2d2ffff );
    }

main {
    background-color: white;
    width: 80%;
    padding:1%;
    margin: auto;
    border-radius: 10px; /*arrredondar cantos */
    /*shadow desloc esq , desloc abaixo, larg do desfoque, cor da sombra*/
    box-shadow: 5px 5px 20px #a590b1;

    }

h1 {
color: #cdb4db ;
text-align: center;
text-shadow: 1px 1px 3px #9886a3c9;
    }

h2 {
color: #ffafcc;
    }

p {
    text-align: justify;
    }